@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 50px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
}

main .box {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px rgb(0, 0, 0),
    0 0 40px rgb(0, 0, 0);
}

aside {
  width: 50%;
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside h2 {
  color: #6d6b6b;
  font-size: 54px;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.console__container {
  position: fixed;
  right: 0;
  top: 0;
  width: 0;
  height: 100vh;
  overflow: hidden;
}

.console {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 5px solid #fff;
  background: #313131;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  z-index: 1000;
}

.console__header {
  width: 100%;
  height: 5%;
  padding: 0px 35px;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.console__header .buttons {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(245, 204, 32);
}

.console__header .buttons::before {
  position: absolute;
  left: -20px;
  content: ' ';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(238, 68, 68);
}

.console__header .buttons::after {
  position: absolute;
  left: 20px;
  content: ' ';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(74, 222, 125);
}

.console__history {
  width: 100%;
  height: 85%;
  padding: 20px;
}

.console__output {
  width: 100%;
  height: 100%;
  color: #6d6b6b;
  font-size: 1.5em;
  font-weight: 700;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

.console__output::-webkit-scrollbar {
  width: 0;
}

.console__input {
  position: relative;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.console__input .separator {
  position: absolute;
  top: 0px;
  height: 3px;
  width: 95%;
  background-color: #fff;
}

.console__input input {
  border: none;
  outline: none;
  text-decoration: none;
  background: transparent;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.5em;
  font-weight: 700;
}

.console__input .console__autocomplete {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  user-select: none;
}
